body{
    background-color: black;
    margin: 0;
}
.sec1-nav{
    background-color: #FCAF02;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.sec1-div1,.sec1-div2{
    padding:0px 20px 0px 20px;
}

a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.sec2-div1{
    color: white;
    padding: 20px;
}
.sec2-div1 h1{
    font-size: 35px;
    padding-top: 20px;
    margin-bottom: 15px;
    
}
.sec2-div1 button{
    color: black;
    font-weight: 700;
    font-size: 18px;
    background-color: #FCAF02;
    margin-top: 20px ;
    border-radius: 50px;
    height: 40px;
    width: 200px;
    left: 0;
    bottom: 0;
    border: 0;
}
.sec2-div1 p{
    width: 60%;
}
.sec2 img{
    position: absolute;
    top: 80px;
    right: 0;
    width: 420px;
    height: 300px;
}
.sec3{
    padding: 0px;
    margin-top: 80px;
    color: #FCAF02;
    position: relative;
}
.sec3 h1{
    margin-left: 20px;
}
.sec3 input{
    border: 2px solid #FCAF02;
    background-color: black;
    color: #FCAF02;
    border-radius: 20px;
    padding: 5px;
    padding-left: 18px;
    margin: 20px 0 20px 0;
    position: absolute;
}
.sec3-input1{
    top: 30px;
    right: 20px;
    left: 20px;
}
.sec3-input2{
    top: 80px;
    right: 20px;
    left: 20px;
}
.sec3-input3{
    top: 130px;
    right: 52%;
    left: 20px;
}
.sec3-input4{
    top: 130px;
    right:20px;
    left: 50%;
}
::placeholder {
    color: #FCAF02;
  }
.submit-div{
      display: flex;
      justify-content: center;
      position: relative;
      top: 160px;
  }
.submit-div button{
    color: black;
    font-weight: 700;
    font-size: 18px;
    background-color: #FCAF02;
    border-radius: 50px;
    height: 40px;
    width: 200px;
    
    /* position: absolute;
    top: 200px;
    left: 38%; */
}
.sec4{
    padding: 0px;
    margin-top: 200px;
    margin-bottom: 620px;
    color: #FCAF02;
    top: 0;
    position: relative;
}
.sec4 table{
    position: absolute;
    left: 5%;
    border-collapse: collapse;
    width: 90%;
}
.sec4 th {
    border: 1px solid #FCAF02;
    /* text-align: left; */
  }
.sec4 td {
    border-left: 1px solid #FCAF02;
    border-right: 1px solid #FCAF02;
    
  }
.sec4 tfoot{
    background-color: #FCAF02;
    color: black;
}
.sec4 tfoot td{
    border: 1px solid black; 
}
.sno-col{
    text-align: center;
}
.col2,.col3{
    padding: 15px;
    padding-left: 40px;
    padding-right: 5px;
    margin-left: 10px;
}
.row0{
    text-align: left;
}
